@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&display=swap");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  /* overflow-y: scroll; */
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: white;
}
.cursor {
  position: fixed;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background-color: black;
  mix-blend-mode: difference;
  pointer-events: none;
  font-size: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  color: white;
}
.cursor:hover {
  transition: 0.5s;
}
@media (max-width: 800px) {
  .cursor {
    display: none;
  }
  * {
    cursor: unset;
  }
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* My edits */
:root {
  --main-color: #03dac6;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Poppins, sans-serif;
  /* overflow: hidden; */
}
body {
  background-color: #151515;
  color: white;
  overflow-x: hidden;
}
.layout,
.header {
  max-width: 1920px;
  margin: auto;
  overflow-x: hidden;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  margin-right: 100px;
  font-size: 18px;
  font-weight: 500;
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
  z-index: 999;
  mix-blend-mode: difference;
}
.logo {
  color: var(--main-color);
  font-weight: 600;
}
.menu {
  display: flex;
  column-gap: 25px;
  color: white;
  margin-right: 125px;
}
.menu a {
  color: white;
}
.heading {
  padding-top: 100px;
}
.content__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 115px;
  flex-wrap: wrap;
}
.big {
  font-size: 14rem;
  font-weight: 500;
  line-height: 120%;
  mix-blend-mode: difference;
}
.text__content {
  max-width: 500px;
  font-size: 24px;
  font-weight: 600;
  mix-blend-mode: difference;
}
.marquee__heading {
  width: fit-content;
  display: flex;
  position: relative;
  transform: translate3d(calc(-25%), 0, 0);
  animation: marquee 5s linear infinite;
  column-gap: 100px;
  mix-blend-mode: difference;
}
@keyframes marquee {
  0% {
    transform: translate3d(calc(-25%), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% - 28px), 0, 0);
  }
}

@keyframes marquee-lg {
  0% {
    transform: translate3d(calc(-25% + 10vw), 0, 0);
  }

  100% {
    transform: translate3d(calc(-50% + 10vw), 0, 0);
  }
}
.design__heading p {
  text-align: center;
  color: white;
  position: relative;
  z-index: 2;
}
.design__heading img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  transform: translateY(-115px);
}
.what {
  position: relative;
}
.what h2,
.how h2 {
  text-transform: uppercase;
  font-family: Bebas Neue;
  text-align: center;
  font-size: 200px;
  max-width: 900px;
  margin: 0 auto;
  padding: 200px 20px;
  font-weight: 400;
}
.what h2 {
  padding-top: calc(200px - 115px);
}
.what h3 {
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 54px;
  padding: 0px 50px;
  font-weight: 400;
  padding-bottom: 75px;
}
.what ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 75px;
}
.what ul li p {
  font-size: 120px;
  font-weight: 700;
  line-height: 90%;
  -webkit-text-stroke: 3px white;
  color: black;
  text-align: center;
  position: relative;
  display: block;
}
.what .more {
  position: absolute;
  bottom: 90px;
  right: 0;
  transform: rotate(-90deg);
  font-weight: 400;
  font-family: Bebas Neue;
  font-size: 36px;
}
.how div {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  margin: 300px 0;
  align-items: flex-start;
}
.how div:nth-child(1) {
  margin-top: 0;
}
.how img {
  width: 600px;
  filter: saturate(0%);
  object-fit: cover;
}
.how div p {
  width: 600px;
  font-size: 36px;
  font-weight: 400;
}
.how div p a,
.left__contact a {
  color: var(--main-color);
  text-decoration: underline;
  cursor: pointer;
}
.how .backFont__how {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100%;
  transform: translateY(-38%);
  color: var(--main-color);
  font-family: Bebas Neue;
  font-weight: 400;
  opacity: 20%;
  font-size: 400px;
  white-space: nowrap;
}
.how .right__how .backFont__how {
  right: 33%;
  left: unset;
}
.contact {
  display: flex;
  justify-content: center;
  gap: 200px;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 200px;
}
.contact h2 {
  text-transform: uppercase;
  font-family: Bebas Neue;
  font-size: 200px;
  margin: 0 auto;
  font-weight: 400;
  line-height: 100%;
  padding-bottom: 25px;
}
.contact li,
.contact p {
  font-size: 36px;
}
.contact .right__contact li a,
.right__contact p {
  font-family: Bebas Neue;
  font-weight: 400;
  font-size: 48px;
}
.contact .right__contact ul {
  padding-top: 25px;
}
.contact .right__contact li {
  margin: 10px 0;
}
.contact .right__contact li a {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: white;
}
.contact .right__contact li svg {
  transform: translateY(-5px);
  padding-right: 10px;
}
